<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes posts</h2>
      <!-- <p>Mis à jour : {{ lastUpdate | async | date: 'EEEE d MMMM y' | uppercase }}</p> -->
      <ul class="list-group">
        <app-post *ngFor="let post of posts"></app-post>
      </ul>
      <button class="btn btn-success" (click)="loveIt()">Love it</button>
      <button class="btn btn-danger" (click)="dontLoveIt()">Don't love it</button>
    </div>
  </div>
</div>
